html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    background: linear-gradient(to right,#ffffff, rgba(180, 149, 149, 0.5));
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(122, 174, 184, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0;
    padding: 0;
    color: rgb(14, 12, 12);
    text-align: center;
    font-size: x-large;
}

.login-box .user-box {
    position: relative;
    font-size: large;;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(119, 114, 114, 0.295);
    background: transparent;
}

.login-box .save{
    background-color:rgba(180, 149, 149, 0.5) ;
    border-radius: 5px;
    border-width: 1px;
    font-family:'Courier New', Courier, monospace;
    border-style: groove;
}
.login-box .save:hover{
    background-color: rgba(243, 213, 213, 0.5);
}